#I99Back {
    position: fixed;
    top: 6%;
    height: 100%;
    width: 100%;
    background-color: #E8E8E8;
}

#I99Box {
    position: relative;
    background-color: white;
    width: 90%;
    left: 5%;
    top: 20px;
    box-shadow: 2px 2px 4px 1px gray;
}