#topInfo {
    margin-top: -15px;
    text-indent: 10px;
}

#RValue {
    position: relative;
    left: 40%;
    top: -22px;
    width: 100px;
}

#year {
    position: relative;
    left: 75%;
    top: -43px;
    width: 60px;
}

#additionalCosts {
    text-indent: 15px;
}

#originalCost {
    font-weight: 700;
}

#originalCostInput {
    position: relative;
    left: 40%;
    top: -24px;
    width: 100px;
}

#originalCostInput1 {
    position: relative;
    left: 45%;
    top: -24px;
    width: 100px;
}

#CAZ {
    margin-top: 10px;
}

#input1 {
    position: relative;
    left: 40%;
    top: -25px;
    width: 100px;
}

#input2 {
    position: relative;
    left: 45%;
    top: -25px;
    width: 100px;
}

#energyAudit {
    margin-top: -10px;
}

#airSeal {
    margin-top: -10px;
}

#ventilation {
    margin-top: -10px;
}

#rebate {
    margin-top: -10px;
}

#other {
    margin-top: -10px;
}

#other1 {
    margin-top: -10px;
}

#atInstall {
    margin-top: 20px;
    text-indent: 15px;
}

#costAtInstall {
    font-weight: 700;
}

#rebateAtInstall {
    margin-top: 10px;
}

#taxCredit {
    margin-top: -10px;
}

#totalInvestment {
    font-weight: 700;
    margin-top: 20px;
}

#date  {
    position: relative;
    left: 73%;
    bottom: 20px;
    width: 120px;
}

#smallText {
    position: fixed;
    bottom: 8%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 7px;
}

#allCalc {
    
}