#calculatorTitle {
    position: relative;
    width: 100%;
    background-color: black;
    color: cyan;
    border-bottom: 2px solid cyan;
    height: 50px;
    margin-top: 0px;
    text-align: center;
    font-size: 26px;
    text-indent: 40px;
}
#bottomOfPage {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: cyan;
    border-top: 4px solid black;
    height: 50px;
}

#siteName {
    position: relative;
    text-indent: 10px;
    top: 20%;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 10px;
  top: 6px;
  z-index: 1000;
}

#profile {
    z-index: 1000;
    text-align: left;
    border: none;
    background: transparent;
    font-size: 40px;
    width: 200px;
    margin-top: 60px;
}

#dashboard {
    z-index: 1000;
    text-align: left;
    border: none;
    background: transparent;
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
}

#orders {
    text-align: left;
    border: none;
    background: transparent;
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
}

#quotes {
    text-align: left;
    border: none;
    background: transparent;
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
}

#paperwork {
    text-align: left;
    border: none;
    background: transparent;
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
}

#signout {
    text-align: left;
    border: none;
    background: transparent;
    font-size: 40px;
    width: 200px;
    margin-top: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: cyan;
  margin: 6px 0;
  transition: 0.4s;
}

.leftNav {
    z-index: 1000;
    display: none;
}

.leftNavClose {
    animation: closeBar 1s forwards;
}

.leftNavShowing {
    z-index: 1000;
   animation: openBar 1s forwards;
   
}

@keyframes openBar  {
    0% {
        position: relative;
        background-color: cyan;
        width: 220px;
        top: -74px;
        height: 692px;
        font-size: 25px;
        left: -210px;
        margin-bottom: -700px;
    }
    100% {
        position: relative;
        background-color: cyan;
        width: 220px;
        top: -74px;
        height: 692px;
        font-size: 25px;
        left: 0px;
        z-index: 1000;
        margin-bottom: -700px;
    }
}

@keyframes closeBar {
    0% {
        position: relative;
        background-color: cyan;
        width: 220px;
        top: -74px;
        height: 692px;
        font-size: 25px;
        left: 0px;
        margin-bottom: -700px;
    }
    99% {
        position: relative;
        background-color: cyan;
        width: 220px;
        top: -74px;
        height: 692px;
        font-size: 25px;
        left: -400px;
        margin-bottom: -700px;
    }
    100% {
        position: relative;
        background-color: cyan;
        width: 0px;
        top: -74px;
        height: 0px;
        font-size: 25px;
        left: -400px;
    }
}