#profileBack {
    position: fixed;
    top: 6%;
    height: 100%;
    width: 100%;
    background-color: #E8E8E8;
}

#profileBox {
    position: relative;
    background-color: white;
    width: 90%;
    left: 5%;
    top: 20px;
    box-shadow: 2px 2px 4px 1px gray;
}


#profileBoxInfo {
    position: relative;
    background-color: white;
    width: 90%;
    left: 5%;
    box-shadow: 2px 2px 4px 1px gray;
    top: 40px;
}

#profileFname, #profileLname {
    text-indent: 10px;
}

#profileInfoTitle {
    font-size: 20px;
    text-indent: 10px;
    margin-bottom: 10px;
}

#profilePic {
    background-image: url('../Styles/Pictures/profile.png');
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.profilePicIn {
    display: none;
}

.hideProfilePic {
    display: none;
}

.showProfilePic {
    display: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#fileSelect {
    display: none;
}

#selectPicDiv {
    text-align: center;
}

#selectImgBtn {
    position: relative;
    border: none;
    background-color: #70DBDB;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}

/* #selectImgBtn:active, #selectImgBtn:focus {
    border: 5px solid green;
} */
