#fullQuote {
    position: relative;
    text-align: center;
    width: 100%;
}

#quoteSides {
    position: relative;
    display: inline-block;
    font-size: 12px;
    padding-right: 3px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 17%;
    height: 20px;
    background-color: lightblue;
}